.moviesList {
    max-width: 800px;
    margin: 14px auto;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: cursive;
}

.moviesList article {
    width: 100%;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 4px;
}

.moviesList strong {
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
    display: block;
}

.moviesList img {
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.moviesList a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
    font-family: cursive;
    background-color: #C0392B;
    text-decoration: #FFFFFF;
    color: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}