.myMovies {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myMovies h1 {
    margin-bottom: 14px;
}

.myMovies span {
    font-size: 18px;
}

.myMovies ul {
    margin-top: 25px;
    width: 720px;
}

.myMovies ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.myMovies div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myMovies div a {
    text-decoration: none;
    color: #116FEB;
    margin-right: 14px;
}

.myMovies button {
     margin-right: 12px;
     margin-left: 12px;
     width: 125px;
     font-size: 20px;
     border: 0;
     outline: none;
     padding: 12px;
     border-radius: 4px;
     cursor: pointer;
     transition: all 0.5s;
     background-color: #C0392B;
     color: #FFFFFF;
 }

.myMovies button:hover {
    background-color: #AC3326;
    color: #FFFFFF;
}