.notFound {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notFound h1 {
    font-size: 120px;
}

.notFound h2 {
    font-size: 20px;
}

.notFound a {
    text-decoration: none;
    background-color: #C0392B;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 14px;
    border-radius: 4px;
}